
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="/summary">Arxiv Topic Modeling</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class='nav-link {%- if request.path == "/summary" or request.path == "/" %} active{% endif %}' href="/summary">
              Content Summary
            </a>
          </li>
          <li class="nav-item">
            <a class='nav-link {%- if request.path.startswith("/topic-models") %} active{% endif %}' href="/topic-models">
              Topic Models
            </a>
          </li>
          <li class="nav-item">
            <a class='nav-link {%- if request.path.startswith("/docs") %} active{% endif %}' href="/docs">
              Docs by Topic
            </a>
          </li>
        </ul>
        <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          Team Brainiacs
        </li>
        </ul>
      </div>
    </nav>